var $${variable} = null;

$.ajax({
    url: '$${url}',
    type: 'GET',
    async: false,
    jsonpCallback: 'jsonCallback',
    contentType: "application/json",
    dataType: 'jsonp',
    success: function(data) {
       return data;
    },
    error: function(e) {
    //do something with the error
    }
}).then(function(data){
    $${variable} = data;
});
