var $${variable} = null;

$.ajax({
    url: $${url},
    type: 'POST',
    dataType: 'json',
    data: ,
    success: function (data) {
        return data;
        },
        error: function (error) {
            //Do something for the error handle
            return null;
        }
}).then(function(data){
    $${variable} = data;
});
!!{cursor}

