/* global toastr:false, moment:false */
(function() {
    'use strict';
 
    angular.module('$${appName}.$${moduleName}')
           .constant('$${constantName}', $${constantValue})
})(); 
!!{cursor}
