angular.module('$${appName}.&&{moduleName}')
       .controller('$${controllerName}', $${controllerName});
 
/* @ngInject */
function $${controllerName} () {
    
    /* jshint validthis: true */
    var vm = this;
    vm.activate = activate;
    vm.title = '$${title}';
 
    activate();
    
    function activate() {
        //Do something here usually get from the database
    }
} 
!!{cursor}