(function() {
    'use strict';
 
    angular.module('$${appName}.$${moduleName}')
           .directive('$${directiveName}', $${directiveName})

    function $$directiveName(){

        var directive = {
            restrict: 'EA', // default
            templateUrl: '$${templateURL}',
            scope: {
                $${scopeVar}: '$${scopeValue}',
            }
        };

        return directive;
    }
    
})(); 