angular.module('$${appName}.$${moduleName}')
       .factory('$${factoryName}', $${factoryName});
 
/* @ngInject */
function $${factoryName} (){
    var service = {
        $${serviceFunction}: $${serviceFunction}
    };
 
    return service;
 
    function $${serviceFunction}() {
        //do something in the service function
    }
}
!!{cursor}