function $${functionName}() {
    return $http.post('$${url}', {})
        .then($${functionName}Complete)
        .catch(function(message) {
            //do something with the error and change the redirect url
            $location.url('/');
        });

    function $${functionName}Complete(data, status, headers, config) {
        return data;
    }
}
!!{cursor}