<table>
    <thead>
        <tr>
            <th>$${columnTitle}</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="$${item} in $${controllerAs}.$${items}">
            <td>{{$${item}.$${field}}}</td>
        </tr>
    </tbody>
</table>
!!{cursor}